<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CDN do Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
    <nav class="bg-white border-gray-200">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/img/logo.png" class="h-36" alt="Logo" />
            </a>
            <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
                <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="/homePaciente" class="text-white bg-pink-600 font-bold border-2 border-pink-600 rounded px-6 py-2 hover:text-white hover:bg-pink-600">Home</a>
                    </li>
                    <li>
                        <a href="/meus-diarios" class="text-pink-600 font-bold border-2 border-pink-600 rounded px-6 py-2 hover:text-white hover:bg-pink-600">Diários</a>
                    </li>
                    <li>
                        <a href="/perfilPaciente" class="text-pink-600 font-bold border-2 border-pink-600 rounded px-6 py-2 hover:text-white hover:bg-pink-600">Perfil</a>
                    </li>
                    <li>
                        <a href="/logout" class="text-pink-600 font-bold border-2 border-pink-600 rounded px-6 py-2 hover:text-white hover:bg-pink-600">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Conteúdo principal -->
    <main class="py-20 flex-grow bg-pink-100">
        <div class="flex flex-col items-center justify-center px-6 mx-auto lg:py-0">
            <div class="w-full bg-white rounded-lg shadow mt-8 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-pink-600 md:text-2xl text-center">
                        Olá, {{userName}} <!-- Aqui será exibido o nome do usuário -->
                    </h1>
                    <p class="text-sm text-center font-bold text-gray-500">
                        Como foi seu dia?
                    </p>
                    <br>
                    <a href="/cadastroDays">
                        <button class="w-full text-white bg-pink-600 hover:bg-pink-700 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Registrar</button>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <!-- Rodapé fixo ao final da página -->
    <footer class="p-6 bg-pink-600 text-center mt-auto">
        <p class="text-sm text-stone-50">Copyright &copy; 2024 Days In Colors | Todos os direitos reservados</p>
    </footer>

</body>
</html>