<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CDN do Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
    <nav class="bg-white border-gray-200">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/img/logo.png" class="h-36" alt="Logo" />
            </a>
        </div>
    </nav>

    <!-- Conteúdo principal -->
    <main class="py-8 flex-grow bg-pink-100">
        <div class="flex flex-col items-center justify-center px-6 mx-auto lg:py-0">
            <div class="w-full bg-white rounded-lg shadow mt-8 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-pink-600 md:text-2xl text-center">
                        Entrar
                    </h1>
                    <form id="loginForm" class="space-y-4 md:space-y-6" action="/login" method="POST">
                        <div>
                            <input type="text" name="username" id="username" class="bg-gray-50 border-2 border-pink-400 text-gray-900 focus:ring-pink-700 focus:border-pink-700 block w-full p-2.5 placeholder-gray-400" placeholder="E-mail" required="">
                        </div>
                        <div>
                            <input type="password" name="password" id="password" placeholder="Senha" class="bg-gray-50 border-2 border-pink-400 text-gray-900 focus:ring-pink-700 focus:border-pink-700 block w-full p-2.5 placeholder-gray-400 focus:outline-none" required="">
                        </div>
                        <button type="submit" class="w-full text-white bg-pink-600 hover:bg-pink-700 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Entrar</button>
                        <p class="text-sm text-center font-bold text-gray-500">
                            Não possui uma conta? 
                            <a href="./cadastroUsuario" class="text-pink-600 hover:underline">Cadastre-se</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Rodapé fixo ao final da página -->
    <footer class="p-6 bg-pink-600 text-center mt-auto">
        <p class="text-sm text-stone-50">Copyright &copy; 2024 Days In Colors | Todos os direitos reservados</p>
    </footer>

    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth.js"></script>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function (e) {
            e.preventDefault(); // Previne o comportamento padrão do formulário
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ username, password }),
                });

                if (!response.ok) {
                    const data = await response.json();
                    if (data.message) {
                        alert(data.message); // Exibe o alert se o usuário estiver inativo
                    } else {
                        alert('Erro ao tentar fazer login.');
                    }
                } else {
                    const user = await response.json(); // A resposta agora pode incluir o tipo de usuário
                    if (user.role === 'psicologo') {
                        window.location.href = "/homePsi"; // Redireciona para a página do psicólogo
                    } else {
                        window.location.href = "/homePaciente"; // Redireciona para a página do paciente
                    }
                }
            } catch (error) {
                alert('Erro ao tentar fazer login.');
            }
        });
    </script>

</body>
</html>